*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1920px) {
    body{
        width: 100%;
        height: 100vh;
        background-color: white;
    }

    body{
        width: 100%;
        height: 100vh;
    }

    body .header-nav{
        width: 100%;
        height: 88px;
        padding-top: 79.56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 71.79px;
    }

    body .main{
        background: #F6F5F4;
        padding: 0 242px;
    }

    body .learn_language{
        background-color: white;
        padding: 0 242px;
    }

    body  .header-nav .left{
        display: flex;
        align-items: center;
        gap: 68.12px;
    }

    body .header-nav .left ul{
        display: flex;
        align-items: center;
        gap: 34.06px;
    }

    body .header-nav .left ul a{
        display: flex;
        align-items: center;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 19.8688px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #585858;
        flex: none;
        order: 2;
        flex-grow: 0;
    }

    body .header-nav .right{
        display: flex;
        align-items: center;
        gap: 29.8px;
    }

    body .header-nav .right .login{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8688px;
        line-height: 20px;
        letter-spacing: -0.04em;    
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
    }

    body .header-nav .right .nav_btn{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8688px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding: 15.61px 25.55px;
        background-color: #2B788B;
        border-radius: 17.0304px;
    }

    body .banner{
        width: 100%;
        height: 740px;
        display: flex;
        align-items: center;
        gap: 95.01px;
        justify-content: space-between;
    }

    body .banner .text .name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8688px;
        line-height: 20px;
        letter-spacing: 0.14em;
        text-transform: uppercase;  
        color: #2B788B;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding-bottom: 28.38px;
    }

    body .banner .text .title{
        max-width: 637.95px;
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 73.241px;
        line-height: 73px;
        letter-spacing: -0.04em;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding-bottom: 42.58px;
    }

    body .banner .text .paragraph{
        max-width: 461.91px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22.7072px;
        line-height: 32px;
        letter-spacing: -0.04em;
        color: #585858;
        flex: none;
        order: 1;
        flex-grow: 0;
        padding-bottom: 42.58px;
    }

    body .banner .text .links{
        display: flex;
        align-items: center;
        gap: 29.8px;
        padding-bottom: 58.34px;
    } 

    body .banner .text .links .login{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8688px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #000000;
        text-decoration: none;
    }

    body .banner .text .links .banner_btn{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8688px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #2B788B;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
        padding: 15.55px 25.55px;
        background-color: #C3DCE3;
        border-radius: 17.0304px;
    }

    body .banner .text .stats{
        display: flex;
        align-items: center;
        text-align: center;
        gap: 113.54px;
    }

    body .banner .text .stats .first .number{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
        font-size: 48px;
    }

    body .banner .text .stats .first img{
        margin-right: 10px;
    }


    body .banner .text .stats .second .number{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
        font-size: 48px;
    }

    body .banner .text .stats .second img{
        margin-right: 10px;
    }


    body .banner .images {
        right: 150px;
        max-width: 600px;

    }

    body .banner .images .Boy{
        position: absolute;
        right: 200px;
        top: 200px;
        z-index: 2;
    }

    body .banner .images .Flower{
        position: absolute;
        right: 50px;
        top: 200px;
        z-index: 3;
    }

    body .banner .images .Joystick{
        position: absolute;
        top: 400px;
        left: 900px;
        z-index: 1;
    }

    body .main{
        width: 100%;
        height: 100vh;
    }

    body .learn_language{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        gap: 300px;
    }


    body .learn_language .description .title{
        max-width: 474.46px;
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.04em;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        font-size: 48px;
        padding-bottom: 30px;
    }

    body .learn_language .description .paragraph{
        max-width: 396.89px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.04em;
        color: #757575;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 63.5px;
    }

    body .learn_language .description .things{
        display: flex;
        align-items: center;
        gap: 21.1px;
    }

    body .learn_language .description .things .shoe{
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #F2D4DC;
        border-radius: 14px;
        padding: 82px 25px 14px 25px;
        
    }

    body .learn_language .description .things .shoe .image_shoe{
      margin-top: -120px;  
    }

    

    body .learn_language .description .things .megaphone{
        display: flex;
        flex-direction: column;
        text-align: center;
        background:  #C3DCE3;
        border-radius: 14px;
        padding: 82px 25px 14px 25px;
        
    }

    body .learn_language .description .things .megaphone .image_megaphone{
      margin-top: -120px;  
    }

    body .vocabulary{
        width: 100%;
        height: 500px;
        background: #F6F5F4;
        padding: 0 242px;
        display: flex;
        align-items: center;
        gap: 300px; 
    }

    body .vocabulary .left .title{
        max-width: 474.46px;
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.04em;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding-bottom: 30px;
    }

    body .vocabulary .left .paragraph{
        max-width: 396.89px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.04em;
        color: #757575;
        flex: none;
        order: 1;
        flex-grow: 0;
        padding-bottom: 34px;
    }

    body .vocabulary .left .btn{
        padding: 14px 22px;
        background: #C3DCE3;
        border-radius: 100px;
    }

    body .vocabulary .right img{
        padding-top: 30px;
    }

    body .progress{
        width: 100%;
        height: 600px;
        padding: 0 242px;
        display: flex;
        align-items: center;
        gap: 200px;
    }

    body .progress .description .title{
        max-width: 474.46px;
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.04em;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        padding-bottom: 30px;
    }

    body .progress .description .paragraph{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.04em;
        color: #757575;
        flex: none;
        order: 1;
        flex-grow: 0;
        padding-bottom: 34px;
    }

    body .progress .description .btn{
        padding: 14px 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.04em;
        color: #2B788B;
        flex: none;
        order: 0;
        flex-grow: 0;
        background: #C3DCE3;
        border-radius: 100px;
    }

    body .footer{
        width: 100%;
        height: 160px;
        padding: 0 242px;
        background: #F6F5F4;
        padding-top: 30px;
    }

    body .footer .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    body .footer .top .navbar{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    body .footer .top .navbar a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #757575;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
    }

    body .footer .top .names{
        display: flex;
        gap: 30px;
    }

    body .footer .top .names p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #757575;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    body .footer .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    body .footer hr{
        margin-top: 20px;
        margin-bottom: 24px;
    }

    body .footer .bottom .socials{
        display: flex;
        align-items: center;
        gap: 30px;
    }
}